.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(233, 128, 128, 0.52);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  max-width: 500px; /* Adjusted maximum width */
  background-color: white;
  border-radius: 20px;
  border: 8px solid teal;
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 300;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.label {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.input {
  height: 40px;
  font-size: 18px;
}

.textarea {
  font-size: 18px;
}

.button {
  border: none;
  background-color: teal;
  color: white;
  padding: 10px 20px;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%; /* Adjusted button width */
  max-width: 385px; /* Adjusted maximum button width */
  border: 5px solid goldenrod;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 30px;
  }

  .button {
    width: 100%; /* Adjusted button width */
    max-width: 100%; /* Adjusted maximum button width */
  }
}
